.dowMain {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bkg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 0.5) 10.8%,
        rgba(163, 196, 188, 0.5) 94.3%
    );
    .dowRest {
        margin-top: 10vh;
        .dowWelcome {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 3rem;
            margin-bottom: 20px;
            .dowTitle {
                font-size: 4rem;
                font-weight: 600;
                color: #0d3b45;
                text-align: center;
            }

            .dowText {
                font-size: 1.4rem;
                font-weight: 600;
                color: #0d3b45;
                text-align: center;
                padding: 2rem 4rem 1rem 4rem;
            }
        }

        //--------------------------------------------------------
        .dowCarouselContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 5px solid rgba(163, 196, 188, 1);
            background-color: rgba(203, 223, 215, 0.1);
            border-radius: 5rem 5rem;
            text-align: center;
            width: 50rem;
            height: 25rem;
            margin: 1rem auto;
            padding: 1rem;
            gap: 1rem;
            transition: transform 0.8s ease-in-out;
            box-shadow: 12px 12px 0 var(--darker-color);
            &:hover {
                cursor: pointer;
            }

            .dowBtnContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 1rem;
                .insetBtn {
                    transform: scale(0.6);
                    transition: all 0.8s ease-in-out;
                }
                .dowBtnchoose1,
                .dowBtnchoose2 {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 6rem;
                    gap: 1rem;
                    font-size: 1.1rem;
                    cursor: pointer;
                    background-color: #dae7c4;
                    box-shadow: 6px 6px 0 var(--darker-color);
                    i {
                        font-size: 2rem;
                    }
                    &:hover {
                        color: white;
                    }
                }
            }
            .dowCondImage {
                height: 15vh;
                width: fit-content;
                margin: 2rem;
            }
            .dowCondTitle {
                font-size: 2rem;
            }
            &:hover {
                box-shadow: 8px 8px 0 white;
                transition: all 0.5s;
                transform: scale(1.1);
            }
        }
        .dowButtons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 10vh;
            gap: 4rem;
            button {
                font-size: 1.5rem;

                width: 15rem;
                height: 5rem;
            }
        }
    }
}

/*---------------------------------MEDIA-QUERIES-------------------------------*/
/* Laptops and desktops with wide screens */
@media (min-width: 1281px) and (min-height: 800px) {
    .dowMain {
        .dowRest {
            .dowWelcome {
                margin-top: 2rem;
                .dowTitle {
                    font-size: 3rem;
                }
                .dowText {
                    font-weight: 500;
                    padding: 0.75rem;
                }
            }
            .dowCarouselContainer {
                width: 50vw;
                height: 50vh;
            }
        }
    }
}
/* Tablets in landscape mode */
@media (min-width: 1025px) and (max-width: 1280px) and (max-height: 800px) {
    .dowMain {
        .dowRest {
            margin-top: 10vh;

            .dowWelcome {
                gap: 0px;
                margin-top: 2rem;
                margin-bottom: 0px;
                .dowTitle {
                    font-size: 2.5rem; /*change*/
                }
                .dowText {
                    font-weight: 400;
                    padding: 1rem;
                }
            }

            .dowCarouselContainer {
                width: 60vw;
                height: fit-content;
                .dowCondImage {
                    height: 15vh;
                    width: fit-content;
                    margin: 2rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                .dowTitle {
                    font-size: 3rem;
                }
                .dowText {
                    font-size: 1.6rem;
                    margin-bottom: 0.25rem;
                    font-weight: 500;
                    padding: 0.25rem;
                }
            }
            .dowCarouselContainer {
                width: 80vw;
                height: 46vh;
                gap: 0.25rem;
                .dowBtnContainer {
                    gap: 0rem;
                    margin-top: 0rem;
                    .dowBtnchoose1,
                    .dowBtnchoose2 {
                        margin: 0.5rem 1rem 1rem 1rem;
                        width: 6rem;
                        height: 6rem;
                    }
                }
                .dowCondImage {
                    width: 200px;
                    height: 200px;
                }
            }
            .dowButtons {
                margin-bottom: 2rem;
                margin-top: 6vh;
                gap: 4rem;
                button {
                    font-size: 1.75rem;
                    width: 18rem;
                    height: 7.5rem;
                }
            }
        }
    }
}
/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                .dowTitle {
                    font-size: 3rem;
                }
                .dowText {
                    font-size: 1.6rem;
                    margin-bottom: 0.25rem;
                    font-weight: 500;
                    padding: 0.25rem;
                }
            }
            .dowCarouselContainer {
                width: 80vw;
                height: 46vh;
                gap: 0.25rem;
                .dowBtnContainer {
                    gap: 0rem;
                    margin-top: 0rem;
                    .dowBtnchoose1,
                    .dowBtnchoose2 {
                        margin: 0.5rem 1rem 1rem 1rem;
                        width: 6rem;
                        height: 6rem;
                    }
                }
                .dowCondImage {
                    width: 200px;
                    height: 200px;
                }
            }
            .dowButtons {
                margin-bottom: 2rem;
                margin-top: 6vh;
                gap: 4rem;
                button {
                    font-size: 1.75rem;
                    width: 18rem;
                    height: 7.5rem;
                }
            }
        }
    }
}

/* Larger smartphones (landscape) */
@media (max-width: 960px) and (max-height: 480px) {
    nav {
        ul {
            gap: 0;
            li {
                a {
                    font-size: 1rem;
                }
            }
        }
    }
    .top-nav {
        .menu {
            margin-top: 50px;
        }
    }
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                height: fit-content;
                gap: 5px;
                margin-top: 0rem;
                margin-bottom: 0px;

                .dowTitle {
                    font-size: 2rem;
                    font-weight: 600;
                }

                .dowText {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 0.25rem;
                }
            }
            .dowCarouselContainer {
                width: 45vw;
                height: fit-content;
                margin: 0 auto;
                padding: 1rem;
                gap: 0.25rem;
                .dowBtnContainer {
                    gap: 1rem;
                    margin: 0;

                    .dowBtnchoose1,
                    .dowBtnchoose2 {
                        width: 3.75rem;
                        height: 3.75rem;
                        gap: 1rem;
                        font-size: 1.1rem;
                        i {
                            font-size: 2rem;
                        }
                    }
                }
                .dowCondImage {
                    height: 15vh;
                    width: fit-content;
                    margin: 0rem;
                }
                .dowCondTitle {
                    font-size: 1.25rem;
                }
                &:hover {
                    transform: none;
                }
            }
            position: relative;
            .dowButtons {
                height: fit-content;
                margin-bottom: 0rem;
                margin-top: 0vh;
                gap: 50vw;
                width: 100%;
                position: absolute;
                top: 70%;
                button {
                    font-size: 1.5rem;
                    width: 12rem;
                    height: 4rem;
                }
            }
        }
    }
}

/* Larger smartphones (portrait) */
@media (max-width: 480px) and (max-height: 960px) {
    .top-nav {
        .menu {
            margin-top: 50px;
        }
    }
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                gap: 0px;
                margin-top: 1rem;
                margin-bottom: 20px;
                .dowTitle {
                    font-size: 1.5rem;
                }

                .dowText {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 1rem;
                }
            }

            .dowCarouselContainer {
                width: 90vw;
                height: 55vh;
                margin: 1rem auto;
                padding: 1rem;
                gap: 1rem;
                .dowCarouselSlides {
                    .dowSlide {
                        height: 16rem;
                        h2 {
                            font-size: 1.6rem;
                            text-align: center;
                        }
                    }
                }
                .dowBtnContainer {
                    gap: 1rem;
                }
                .dowCondImage {
                    height: 18vh;
                    margin: 2rem;
                }
                .dowCondTitle {
                    font-size: 2rem;
                }
                &:hover {
                    transform: none;
                }
            }
            .dowButtons {
                margin: 1.5rem 1rem 1rem 1rem;
                gap: 1rem;
                button {
                    font-size: 1.5rem;
                    width: 15rem;
                    height: 4.5rem;
                }
            }
        }
    }
}

/* Medium-sized smartphones (landscape) */
@media (max-width: 896px) and (max-height: 414px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                gap: 5px;
                margin-top: 0rem;
                margin-bottom: 0px;

                .dowTitle {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .dowText {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 0.25rem;
                }
            }
            .dowCarouselContainer {
                width: 48vw;
                height: 53vh;

                .dowBtnContainer {
                    gap: 0;
                    margin: 0;
                    .dowBtnchoose1,
                    .dowBtnchoose2 {
                        width: 3.5rem;
                        height: 3.5rem;
                        font-size: 1.1rem;
                        i {
                            font-size: 1.75rem;
                        }
                    }
                }
                .dowCondTitle {
                    font-size: 1rem;
                }
            }
            .dowButtons {
                margin-bottom: 0rem;
                margin-top: 0vh;
                gap: 55vw;
                top: 80%;
                button {
                    width: fit-content;
                    height: 4rem;
                }
            }
        }
    }
}
/*exceptions*/

/* Medium-sized smartphones (portrait) */
@media (max-width: 414px) and (max-height: 896px) {
    .dowMain {
        .dowRest {
            .dowWelcome {
                gap: 0px;
                margin-top: 1rem;
                margin-bottom: 0;
                .dowTitle {
                    font-size: 1.25rem;
                }
                .dowText {
                    padding: 0.5rem;
                    font-size: 1rem;
                }
            }

            .dowCarouselContainer {
                width: 95vw;
                height: 55vh;
                gap: 1.5rem;
                .dowCarouselSlides {
                    .dowSlide {
                        height: 15rem;
                        h2 {
                            font-size: 1.5rem;
                        }
                    }
                }
                .dowBtnContainer {
                    gap: 0.75rem;
                    height: fit-content;
                    button {
                        margin-bottom: 1rem;
                    }
                }
            }
            .dowButtons {
                height: fit-content;
                margin: 3rem auto 1rem auto;
                button {
                    font-size: 1.5rem;
                    width: 15rem;
                    height: 5rem;
                }
            }
        }
    }
}

/* Small smartphones (landscape) */
@media (max-width: 667px) and (max-height: 375px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                gap: 5px;
                margin-top: 0rem;
                margin-bottom: 8px;

                .dowTitle {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                .dowText {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 0.25rem;
                }
            }
            .dowCarouselContainer {
                width: 54vw;
                height: 54vh;

                .dowBtnContainer {
                    gap: 1rem;
                    margin: 0;
                }
                .dowCondTitle {
                    font-size: 1rem;
                }
            }

            .dowButtons {
                margin: 1rem auto;
                gap: 50vw;
                top: 90%;
                button {
                    width: 10rem;
                    height: 4rem;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
/* Small smartphones (portrait) */
@media (max-width: 375px) and (max-height: 667px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                gap: 0px;
                margin-top: 1rem;
                margin-bottom: 5px;
                .dowTitle {
                    font-size: 1.5rem;
                }

                .dowText {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 0.5rem 0 0 0;
                }
            }

            .dowCarouselContainer {
                width: 90vw;
                height: 50vh;
                margin: 1rem auto;
                padding: 1rem;
                gap: 0.5rem;
                .dowCarouselSlides {
                    .dowSlide {
                        height: 15rem;
                    }
                }
                .dowBtnContainer {
                    gap: 0.5rem;
                    .dowBtnchoose1,
                    .dowBtnchoose2 {
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 6rem;
                        gap: 1rem;
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }

                .dowCondTitle {
                    font-size: 1.25rem;
                }
            }
            .dowButtons {
                margin: 1.5rem 1rem 1rem 1rem;
                gap: 1.5rem;
                button {
                    font-size: 1rem;
                    width: 12rem;
                    height: 3.5rem;
                }
            }
        }
    }
}
@media (max-width: 620px) and (max-height: 320px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                gap: 2.5px;
                margin-top: 0rem;
                margin-bottom: 8px;

                .dowTitle {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                .dowText {
                    font-size: 0.75rem;
                    font-weight: 500;
                    padding: 0rem;
                }
            }
            .dowCarouselContainer {
                width: 50vw;
                height: 55vh;

                .dowBtnContainer {
                    gap: 1rem;
                    margin: 0;
                }
                .dowCondTitle {
                    font-size: 1rem;
                }
            }

            .dowButtons {
                margin: 1rem auto;
                gap: 50vw;
                top: 75%;
                button {
                    width: fit-content;
                    height: 3rem;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media (max-width: 320px) and (max-height: 570px) {
    .dowMain {
        .dowRest {
            margin-top: 0vh;
            .dowWelcome {
                gap: 0px;
                margin-top: 0rem;
                margin-bottom: 10px;
                .dowTitle {
                    font-size: 1rem;
                }

                .dowText {
                    font-size: 0.75rem;
                    font-weight: 500;
                    padding: 0.5rem 0 0 0;
                }
            }

            .dowCarouselContainer {
                width: 90vw;
                height: 55vh;
                margin: 0.25rem auto;
                padding: 0.25rem;
                gap: 0.5rem;
                .dowCarouselSlides {
                    .dowSlide {
                        height: 12rem;
                    }
                }
                .dowBtnContainer {
                    gap: 0.5rem;
                    .dowBtnchoose1,
                    .dowBtnchoose2 {
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 6rem;
                        gap: 1rem;
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }

                .dowCondTitle {
                    font-size: 0.75rem;
                }
                .dowCondImage {
                    height: 15vh;
                }
            }
            .dowButtons {
                margin: 2rem auto;
                gap: 1rem;
                button {
                    font-size: 1.25rem;
                    width: fit-content;
                    height: 4rem;
                }
            }
        }
    }
}
