nav {
    grid-area: 1/1/3/21;
    background: linear-gradient(
        82.3deg,
        var(--darker-color) 60%,
        var(--darkest-color) 99%
    );
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    z-index: 100;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
        gap: 1rem;
        li {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: white;
                font-size: 2rem;
                font-weight: bold;
                text-shadow: 2px 2px 0px #000000,
                    5px 4px 0px rgba(0, 0, 0, 0.15);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 1rem;
                transition: all 0.5s;
                &:hover {
                    background: linear-gradient(
                        82.3deg,
                        rgba(231, 239, 197, 1) 10.8%,
                        rgba(163, 196, 188, 0.8) 94.3%
                    );
                    transition: all 0.5s;
                }
            }
        }
    }
}
.mainGoal-box {
    @extend .grid20x5;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 1) 10.8%,
        rgba(163, 196, 188, 0.8) 94.3%
    );
    .header-box {
        grid-area: 3/6/7/15;
        @extend .flex-center;
        font-size: 4.5vh;
        color: white;
        text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        h3 {
            position: absolute;
            top: 70%;
            left: 75%;
            margin-top: 0;
            font-size: 1.6vh;
            text-shadow: none !important;
        }
    }
    .dietChoose-box {
        @extend .fullsize, .flex-center;
        grid-area: 8/3/19/8;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
        .dietbox {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 5rem;
            img {
                width: 7rem;
                object-fit: contain;
                display: none;
            }
        }
    }

    .diet-plans {
        gap: 1.5rem;
        transition: all 0.5s;

        flex-direction: column;
        grid-area: 7/9/20/19;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .plan-card {
            padding: 0.5rem;
            box-shadow: 6px 6px 0 black;
            border: none;
            cursor: pointer;
            text-align: center;
            width: 40%;
            height: 35%;
            @extend .flex-center;
            flex-direction: column;
            border-radius: 1.5rem;
            color: white;
            font-size: larger;
            background: linear-gradient(
                82.3deg,
                rgb(211, 221, 163) 10.8%,
                rgba(129, 192, 176, 0.8) 94.3%
            );
            gap: 1rem;
            h4 {
                font-size: 2.5vh;
            }
        }
        .plan-card:hover {
            transform: scale(1.05);
            transition: all 0.5s;
            background: linear-gradient(
                82.3deg,
                rgb(216, 233, 140) 10.8%,
                rgba(118, 202, 181, 0.8) 94.3%
            );

            transition: 0.5s;
            box-shadow: 10px 10px 0 rgb(255, 255, 255);
        }
    }
}
.meal-box {
    @extend .grid20x5;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 1) 10.8%,
        rgba(163, 196, 188, 0.8) 94.3%
    );
    h2 {
        grid-area: 4/2/6/20;
        @extend .flex-center;
        color: var(--darkest-color);
        font-size: 6vh;
        text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .meal-selection {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 100%;
        grid-area: 7/2/20/20;
        text-align: justify;
        gap: 10rem;

        .meal {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-radius: 1.5rem;
            position: relative;
            .wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                font-size: 1.6vh;
                padding: 1rem 1rem 1rem 1rem;
                h5 {
                    padding: 1rem;
                }
            }
            img {
                width: 100%;
                height: 30vh;
                object-fit: cover;
                border-radius: 1.5rem;
            }
            h4 {
                font-size: 2.3vh;
                text-align: center;
                padding: 1rem 0rem 0.5rem 0rem;
            }

            &:hover {
                background: linear-gradient(
                    82.3deg,
                    rgb(243, 245, 233) 10.8%,
                    rgba(193, 233, 223, 0.8) 94.3%
                );
                transition: all 0.5s;
            }
            .fa-chevron-down {
                font-size: 2vh;
                margin: 0.5rem 0rem 0rem 0rem;
                animation: bounce 1s 1s 2;
                display: block;
            }
            .fa-chevron-up {
                display: none;
                margin: 0.5rem 0rem 0rem 0rem;
                animation: bounce 1s 1s 2;
            }
            @keyframes bounce {
                0%,
                20%,
                50%,
                80%,
                100% {
                    transform: translateY(0);
                }
                40% {
                    transform: translateY(-10px);
                }
                60% {
                    transform: translateY(-5px);
                }
            }
            button {
                width: 100%;
                height: 25vh;
            }
        }
    }
}
.workout-box {
    @extend .grid20x5;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 1) 10.8%,
        rgba(128, 196, 179, 0.8) 94.3%
    );
    .intro {
        display: flex;
        flex-direction: column;
        grid-area: 4/4/8/19;

        h1 {
            color: rgb(0, 0, 0);
            font-size: 5.5vh;
            text-shadow: 1px 1px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
        }
        p {
            padding: 1.5rem;
            font-size: 2.3vh;
            text-align: justify;
        }
    }
    .image {
        grid-area: 4/1/7/4;
        @extend .bg-img-center;
        background-image: url(./images/regularWorkout/levels/levelconfig.png);
    }

    .level-box {
        grid-area: 9/2/20/20;
        @extend .fullsize;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        gap: 2rem;
        .level-card {
            display: flex;
            border-radius: 1.5rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 50vh;
            cursor: pointer;

            h2 {
                padding: 2rem;
            }
            .bgImg {
                width: 100%;
                height: 100%;
                @extend .bg-img-center;
            }
            button {
                width: 100%;
                height: 10vh;
                margin: 2rem 0rem 0rem 0rem;
            }
            &:hover {
                background: linear-gradient(
                    82.3deg,
                    rgb(243, 245, 233) 10.8%,
                    rgba(193, 233, 223, 0.8) 94.3%
                );
                transition: all 0.5s;
                transform: scale(1.05);
            }
        }
    }
}
.role-box {
    @extend .grid20x5;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 1) 10.8%,
        rgba(163, 196, 188, 0.8) 94.3%
    );
    h1 {
        grid-area: 4/2/6/18;
        color: white;
        font-size: 6vh;
        text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .exercises-box {
        grid-area: 7/2/20/20;
        @extend .fullsize;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 1.5rem;
        padding: 2rem;
        gap: 3rem;
        background: linear-gradient(
            82.3deg,
            rgb(243, 245, 233) 10.8%,
            rgba(193, 233, 223, 0.8) 94.3%
        );
        .role-card {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 20vw;
            height: 100%;
            border-radius: 1.5rem;
            // border: #000000 1px solid;

            h2 {
                @extend .fullsize;
                font-size: 2.8vh;
                text-align: center;
                padding: 1rem;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 40vh;
            }
            p {
                @extend .fullsize;
                text-align: justify;
                padding: 1rem;
                font-size: 1.8vh;
            }

            &:hover {
                background: linear-gradient(
                    82.3deg,
                    rgb(194, 204, 146) 10.8%,
                    rgba(116, 192, 173, 0.8) 94.3%
                );
                transition: all 0.5s;
            }
        }
    }
}
.exercise-box {
    @extend.fullsize;
    .exercise-card-box {
        background: linear-gradient(
            82.3deg,
            rgba(231, 239, 197, 1) 10.8%,
            rgba(163, 196, 188, 0.8) 94.3%
        );
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .exercise-card > * {
            border-radius: 1.5rem;
        }
        .exercise-card {
            border-radius: 1.5rem;
            margin: 15vh 5vh 5vh 5vh;
            width: 90vw;
            height: 80vh;
            display: grid;
            grid-template-columns: repeat(25, 4%);
            grid-template-rows: repeat(25, 4%);
            background: linear-gradient(
                82.3deg,
                rgb(248, 253, 224) 10.8%,
                rgba(128, 180, 166, 0.8) 94.3%
            );
            .title {
                grid-area: 2/2/6/15;
                background-color: #cecece;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                h2 {
                    padding: 2rem;
                    font-size: 5vh;
                }
                i {
                    padding: 3rem;
                    font-size: 4.5vh;
                }
            }
            .text {
                background-color: #cecece;
                grid-area: 7/2/19/15;
                display: flex;
                flex-direction: column;
                h2 {
                    padding: 0.5rem 2rem 0rem 2rem;
                }
                h3 {
                    padding: 1rem 2rem 0rem 2rem;
                }
                p {
                    font-weight: bold;
                    padding: 0.5rem 2rem 0rem 2rem;
                }
                ul {
                    padding: 1rem 3rem 0.5rem 3rem;
                    text-align: justify;
                }
                li {
                    padding: 0rem 0rem 0.5rem 0rem;
                    font-size: 2vh;
                }
            }
            .level {
                grid-area: 2/16/8/25;
                background-color: #cecece;
                h2 {
                    padding: 2rem 1rem 0rem 2rem;
                    font-size: 3.5vh;
                }
                p {
                    padding: 0rem 2rem 1rem 2rem;
                    font-size: 2.5vh;
                }
            }
            .image {
                grid-area: 9/16/19/25;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0;
            }
            .videos {
                grid-area: 20/2/25/25;

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 1rem;
                div {
                    @extend .fullsize;
                    background-color: #888;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
i {
    cursor: pointer;
}
/*Templates styles*/
.grid20x5 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}
.fullsize {
    width: 100%;
    height: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Buttons*/
.button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: var(--darker-color);
    background-size: 400%;
    color: #fff;
    border: none;
    font-size: larger;
    transition: 0.5s;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 0.5) 10.8%,
        rgba(163, 196, 188, 1) 94.3%
    );
    transition: all 0.7s;
}
.cta {
    cursor: pointer;
    display: flex;
    padding: 1rem 2rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 0.5) 10.8%,
        rgba(163, 196, 188, 1) 94.3%
    );
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    width: 20rem;
    height: 8rem;
    border-radius: 1.5rem;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgb(255, 255, 255);
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg);
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: rgba(5, 176, 187, 1);
    }

    100% {
        fill: white;
    }
}
/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
    border-radius: 6px; /* Rounded corners */
    border-bottom: 2px solid transparent; /* Remove border at the bottom */
}

/* Handle on hover styles */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}

.showHide {
    transition: opacity 0.5s ease-in-out;
    display: block !important;
}
