.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgGreen {
    background-color: #dae7c4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.insetBtn {
    transform: scale(0.6);
    transition: all 0.8s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.diet-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .top-nav {
        z-index: 111111;
    }
    .diet-main {
        border-bottom: solid 25px var(--darker-color);
        padding: 2rem;
        background: linear-gradient(
            82.3deg,
            rgba(231, 239, 197, 0.5) 10.8%,
            rgba(163, 196, 188, 1) 94.3%
        );
        margin-top: 10vh;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: repeat(20, 5%);

        header {
            @extend .flex-center;
            grid-area: 2/3/3/19;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 0.5rem;

            h1 {
                font-size: 2.2rem;
                font-weight: 800;
            }
            p {
                font-size: 1.4rem;
                text-align: center;
            }
        }
        .meal-types {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            align-items: center;
            grid-area: 4/2/8/20;
            gap: 2rem;
            z-index: 111;
            width: 100%;
            div {
                @extend .bgGreen;
                width: 100%;
                padding: 0.5rem;

                .meal {
                    @extend .flex-center, .bgGreen;
                    flex-direction: row;
                    gap: 0.5rem;
                    width: 100%;
                    height: 100%;
                    font-size: 1.3rem;
                    padding: 0.5rem;

                    img {
                        width: 8rem;
                        height: fit-content;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        border: none;
                    }
                    transform: scale(1);
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }
        }

        .options-box {
            grid-area: 8/2/21/20;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .meal-options {
                display: grid;
                grid-template-columns: repeat(10, 10%);
                grid-template-rows: repeat(10, 10%);
                flex-direction: row;
                width: 40%;
                height: 100%;
                font-size: 1.6rem;
                padding: 1rem;
                text-align: center;
                gap: 1rem;
                .menu-meal {
                    @extend .flex-center;
                    flex-direction: column;
                    grid-area: 2/4/8/9;
                    background-image: url(./images/paper5.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    gap: 3rem;
                    .meal-card {
                        @extend .flex-center;
                        width: 100%;
                        height: 100%;
                        font-family: "Grape Nuts", cursive;
                        transform: scale(1);
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.08);
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }

                .options-img {
                    margin: -3rem 0 0 -1.5rem;
                    z-index: 1;
                    grid-area: 1/1/5/4;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 15rem;
                        height: fit-content;
                    }
                }
            }
            .faded {
                @extend .flex-center, .bgGreen;
                flex-direction: column;
                gap: 0.25rem;
                width: 80%;

                .selected-meal {
                    width: 100%;

                    .smMeal {
                        width: 100%;
                        height: 16rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .smTxt {
                        gap: 1rem;

                        @extend .flex-center;
                        flex-direction: column;
                        padding: 1rem;
                        width: 95%;
                        height: 40%;
                        text-align: center;
                        h2 {
                            padding: 1rem;
                            font-size: 2rem;
                        }
                        .health-impact {
                            @extend .flex-center;
                            flex-direction: column;
                            h5 {
                                font-size: 1.2rem;
                            }
                            gap: 1rem;
                            .range {
                                display: flex;
                                flex-direction: column;
                                width: 4rem;
                                height: 4rem;
                            }
                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Laptops and desktops with wide screens */
@media (min-width: 1281px) and (min-height: 800px) {
    .diet-page {
        .diet-main {
            padding: 0;
            header {
                margin-top: 1rem;
                flex-direction: row;
                padding: 2rem;
                gap: 2rem;
                p {
                    font-size: 1rem;
                }
            }
            .meal-types {
                gap: 3rem;

                div {
                    padding: 0.25rem;
                    .meal {
                        gap: 0.25rem;
                        font-size: 1.2rem;
                        img {
                            width: 6rem !important;
                        }
                    }
                }
            }

            .options-box {
                .meal-options {
                    width: 70%;
                    font-size: 1.45rem;
                    padding: 1rem;
                    gap: 1rem;
                    .menu-meal {
                        flex-direction: column !important;
                        grid-area: 2/3/8/9;
                        gap: 3rem;
                    }
                    .options-img {
                        margin: -3rem 0 0 -5rem;
                        grid-area: 1/1/5/4;
                        img {
                            width: 14rem;
                        }
                    }
                }
                .faded {
                    gap: 0.25rem;
                    width: 100%;
                    height: 80%;
                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            height: 25vh;
                        }
                        .smTxt {
                            flex-direction: row;
                            padding: 2rem;
                            width: 100%;
                            height: 50%;
                            h2 {
                                font-size: 1.6rem;
                            }
                            .health-impact {
                                flex-direction: column;
                                h5 {
                                    font-size: 1rem;
                                }
                                gap: 1rem;
                                .range {
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Tablets in landscape mode */
@media (min-width: 1025px) and (max-width: 1280px) and (max-height: 800px) {
    .diet-page {
        .diet-main {
            padding: 0;
            header {
                grid-area: 1/2/3/20;
                margin-top: 1rem;
                flex-direction: row;
                padding: 2rem;
                gap: 2rem;
                p {
                    font-size: 1rem;
                }
            }
            .meal-types {
                gap: 3rem;

                div {
                    padding: 0.25rem;
                    .meal {
                        gap: 0.25rem;
                        font-size: 1.2rem;
                        img {
                            width: 6rem !important;
                        }
                    }
                }
            }

            .options-box {
                .meal-options {
                    width: 100%;
                    font-size: 1.45rem;
                    padding: 1rem;
                    gap: 1rem;
                    .menu-meal {
                        grid-area: 2/3/8/9;
                        gap: 3rem;
                    }
                    .options-img {
                        margin: -3rem 0 0 -5rem;
                        grid-area: 1/1/5/4;
                        img {
                            width: 14rem;
                        }
                    }
                }
                .faded {
                    gap: 0.25rem;
                    width: 100%;
                    height: 80%;
                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            height: 12rem;
                        }
                        .smTxt {
                            flex-direction: row;
                            padding: 2rem;
                            width: 100%;

                            height: 50%;
                            h2 {
                                font-size: 1.2rem;
                            }
                            .health-impact {
                                flex-direction: column;
                                h5 {
                                    font-size: 1rem;
                                }
                                gap: 1rem;
                                .range {
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px) {
    .diet-page {
        .diet-main {
            padding: 2rem;
            margin-top: 0vh;
            header {
                grid-area: 1/3/4/19;
                flex-direction: column;
                width: 100%;
                height: 100%;
                gap: 0.5rem;

                h1 {
                    font-size: 2.2rem;
                    font-weight: 800;
                }
                p {
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
            .meal-types {
                gap: 1rem;
                div {
                    width: 100%;
                    padding: 0.5rem;
                    .meal {
                        gap: 0.5rem;
                        font-size: 1.2rem;
                        padding: 1rem;
                    }
                }
            }

            .options-box {
                grid-area: 8/1/21/21;
                flex-direction: column;
                .meal-options {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;
                    font-size: 1.6rem;
                    padding: 1rem;
                    text-align: center;
                    gap: 1rem;
                    width: 100%;
                    .menu-meal {
                        gap: 2.5rem;
                        background-image: none;

                        .meal-card {
                            background-color: #f0fdd8;
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                            padding: 2rem;
                            height: fit-content;
                        }
                    }

                    .options-img {
                        display: none;
                        img {
                            width: 0rem;
                            height: 0;
                        }
                    }
                }
                .faded {
                    flex-direction: column;
                    gap: 0.25rem;
                    width: 100%;

                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            width: 100%;
                            height: 20vh;
                        }
                        .smTxt {
                            width: 100%;
                            h2 {
                                font-size: 2.4vh;
                            }
                            .health-impact {
                                flex-direction: column;
                                h5 {
                                    font-size: 1.2rem;
                                }
                                gap: 1rem;

                                .range {
                                    display: flex;

                                    width: 4vh;
                                    height: 4vh;
                                }
                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Larger smartphones (landscape) */
@media (max-width: 960px) and (max-height: 480px) {
    .diet-page {
        height: 100%;
        .diet-main {
            display: flex;
            flex-direction: column;

            padding: 0;
            header {
                margin-top: 0;
                flex-direction: column;
                padding: 2rem;
                gap: 2rem;
                h1 {
                    font-size: 4vh;
                }
                p {
                    font-size: 1rem;
                }
            }

            .meal-types {
                height: 100%;
                gap: 3rem;
                flex-direction: row !important;
                div {
                    padding: 0.25rem;
                    width: 15rem;
                    .meal {
                        gap: 0.25rem;
                        font-size: 1.2rem;
                        img {
                            width: 3rem !important;
                        }
                    }
                }
            }

            .options-box {
                .meal-options {
                    width: 100%;
                    font-size: 1.45rem;
                    padding: 1rem;
                    gap: 1rem;
                    .menu-meal {
                        grid-area: 2/3/8/9;
                        gap: 3rem;
                    }
                    .options-img {
                        display: none;
                    }
                }
                .faded {
                    gap: 0.25rem;
                    width: 90%;
                    height: 100%;
                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            height: 12rem;
                        }
                        .smTxt {
                            flex-direction: row;
                            padding: 2rem;
                            width: 100%;
                            gap: 1.5rem;
                            height: 50%;
                            h2 {
                                font-size: 1.2rem;
                            }
                            .health-impact {
                                flex-direction: column;
                                h5 {
                                    font-size: 1rem;
                                }
                                gap: 1rem;
                                .range {
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Larger smartphones (portrait) */
@media (max-width: 480px) and (max-height: 960px) {
    .diet-page {
        .top-nav {
            height: 50px !important;
        }
        .diet-main {
            padding: 1rem;

            margin-top: 0vh;
            header {
                grid-area: 1/3/4/19;
                gap: 0.5rem;

                h1 {
                    font-size: 3vh;
                    font-weight: 800;
                }
                p {
                    font-size: 1.8vh;
                    text-align: center;
                }
            }
            .meal-types {
                gap: 1rem;
                div {
                    width: 100%;
                    padding: 0.5rem;
                    .meal {
                        flex-direction: column;
                        gap: 0.5vh;
                        font-size: 1.5vh;
                        padding: 0.5rem;
                        img {
                            height: fit-content;
                        }
                    }
                }
            }

            .options-box {
                grid-area: 8/1/21/21;
                flex-direction: column;
                padding: 0rem;
                height: 100%;
                gap: 2rem;
                .meal-options {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;
                    padding: 1rem;
                    height: fit-content;
                    .menu-meal {
                        flex-direction: row;
                        gap: 2rem;
                        background-image: none;

                        .meal-card {
                            background-color: #f0fdd8;
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                            padding: 1rem;
                            height: 12vh;
                        }
                    }

                    .options-img {
                        display: none;
                        img {
                            width: 0rem;
                            height: 0;
                        }
                    }
                }
                .faded {
                    flex-direction: column;
                    gap: 0;
                    width: 100%;
                    height: fit-content;
                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            width: 100%;
                            height: 25vh;
                        }
                        .smTxt {
                            width: 100%;
                            height: fit-content;
                            gap: 0.5rem;
                            h2 {
                                font-size: 1.2rem;
                            }
                            .health-impact {
                                flex-direction: row;
                                h5 {
                                    font-size: 1rem;
                                }
                                gap: 1rem;
                                .range {
                                    display: flex;
                                    flex-direction: column;
                                    width: 3.5vh;
                                    height: 3.5vh;
                                }
                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Medium-sized smartphones (landscape) */
@media (max-width: 896px) and (max-height: 414px) {
    .diet-page {
        height: 100%;

        .diet-main {
            display: flex;
            flex-direction: column;

            padding: 0;
            header {
                margin-top: 0;
                flex-direction: column;
                padding: 2rem;
                gap: 2rem;
                h1 {
                    font-size: 4vh;
                }
                p {
                    font-size: 1rem;
                }
            }

            .meal-types {
                height: 100%;
                gap: 3rem;
                flex-direction: row !important;
                div {
                    padding: 0.25rem;
                    width: 15rem;
                    .meal {
                        gap: 0.25rem;
                        font-size: 1.2rem;
                        img {
                            width: 3rem !important;
                        }
                    }
                }
            }

            .options-box {
                .meal-options {
                    width: 100%;
                    font-size: 1.45rem;
                    padding: 1rem;
                    gap: 1rem;
                    .menu-meal {
                        grid-area: 2/3/8/9;
                        gap: 3rem;
                    }
                    .options-img {
                        display: none;
                    }
                }
                .faded {
                    gap: 0.25rem;
                    width: 90%;
                    height: 100%;
                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            height: 12rem;
                        }
                        .smTxt {
                            flex-direction: row;
                            padding: 2rem;
                            width: 100%;
                            gap: 1.5rem;
                            height: 50%;
                            h2 {
                                font-size: 1.2rem;
                            }
                            .health-impact {
                                flex-direction: column;
                                h5 {
                                    font-size: 1rem;
                                }
                                gap: 1rem;
                                .range {
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Medium-sized smartphones (portrait) */
@media (max-width: 414px) and (max-height: 896px) {
    .diet-page {
        .top-nav {
            height: 50px !important;
        }
        .diet-main {
            .options-box {
                .faded {
                    .selected-meal {
                        .smMeal {
                            width: 100%;
                            height: 18vh;
                        }
                        .smTxt {
                            h2 {
                                font-size: 2vh;
                            }
                            p {
                                font-size: small;
                            }
                            .health-impact {
                                flex-direction: row;
                                h5 {
                                    font-size: 1.5vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Small smartphones (landscape) */
@media (max-width: 667px) and (max-height: 375px) {
    .diet-page {
        display: flex;
        height: 100% !important;
        .diet-main {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            header {
                margin-top: 0;
                flex-direction: column;
                padding: 1rem;
                gap: 2rem;
                h1 {
                    font-size: 4vh;
                }
                p {
                    font-size: 1rem;
                }
            }

            .meal-types {
                height: 100%;
                gap: 3rem;
                flex-direction: row !important;
                div {
                    padding: 0.25rem;
                    width: 15rem;
                    .meal {
                        gap: 0.25rem;
                        font-size: 1.2rem;
                        img {
                            width: 3rem !important;
                        }
                    }
                }
            }

            .options-box {
                display: flex !important;
                flex-direction: column;
                .meal-options {
                    display: flex !important;
                    flex-direction: row;
                    width: 100%;

                    padding: 1rem;
                    gap: 1rem;
                    .menu-meal {
                        background: none;
                        width: 100%;
                        height: 100%;
                        gap: 3rem;
                    }
                    .meal-card {
                        background-color: #f0fdd8;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                        height: 5rem !important;
                        font-size: 1.4rem !important;
                    }
                    .options-img {
                        display: none;
                    }
                }
                .faded {
                    gap: 0.25rem;
                    width: 100%;
                    height: 100%;
                    .selected-meal {
                        width: 100%;

                        .smMeal {
                            height: 8rem;
                        }
                        .smTxt {
                            flex-direction: row;
                            padding: 2rem;
                            width: 100%;
                            gap: 1.5rem;
                            height: 50%;
                            h2 {
                                font-size: 1.2rem;
                            }
                            .health-impact {
                                flex-direction: column;
                                h5 {
                                    font-size: 1rem;
                                }
                                gap: 1rem;
                                .range {
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Small smartphones (portrait) */
@media (max-width: 375px) and (max-height: 667px) {
    .diet-page {
        .top-nav {
            height: 50px !important;
        }
        .diet-main {
            padding: 1rem;
            margin-top: 0vh;
            .meal-types {
                gap: 1rem;
                div {
                    width: 100%;
                    padding: 0.25rem;
                    .meal {
                        flex-direction: column;
                        gap: 0.25vh;
                        font-size: 1.5vh;
                        padding: 0.25rem;
                        img {
                            height: fit-content;
                        }
                    }
                }
            }

            .options-box {
                gap: 1rem;
                .meal-options {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;
                    padding: 0rem;
                    height: fit-content;
                    .menu-meal {
                        flex-direction: row;
                        gap: 1rem;
                        background-image: none;

                        .meal-card {
                            padding: 1rem;
                            height: 10vh;
                        }
                    }

                    .options-img {
                        display: none;
                        img {
                            width: 0rem;
                            height: 0;
                        }
                    }
                }
                .faded {
                    .selected-meal {
                        .smMeal {
                            width: 100%;
                            height: 18vh;
                        }
                        .smTxt {
                            h2 {
                                font-size: 2vh;
                            }
                            p {
                                font-size: small;
                            }
                            .health-impact {
                                flex-direction: row;
                                h5 {
                                    font-size: 1.5vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
