* {
  box-sizing: border-box; }

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./bkg.png");
  background-size: cover;
  background-position: center; }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
  margin-bottom: 20px; }
  .welcome .title {
    font-size: 4rem;
    font-weight: 600;
    color: #0d3b45;
    text-align: center; }
  .welcome .text {
    font-size: 2rem;
    font-weight: 600;
    color: #0d3b45;
    text-align: center;
    padding: 2rem 4rem 1rem 4rem; }

.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 5px solid #c5bc81;
  background-color: #cbdfd7;
  border-radius: 5rem 5rem;
  text-align: center;
  width: 30rem;
  height: 22rem;
  margin: 2rem auto;
  padding: 1rem;
  transition: transform 0.8s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.3), 0 15px 30px rgba(0, 0, 0, 0.3); }
  .carouselContainer:hover {
    cursor: pointer; }
  .carouselContainer .btnchoose {
    width: 3rem;
    height: 3rem;
    border-radius: 6rem;
    margin: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer; }
    .carouselContainer .btnchoose .arrow {
      width: 2rem;
      height: 2rem;
      margin: -0.7rem; }
    .carouselContainer .btnchoose:hover {
      color: #3c8f51;
      box-shadow: 0 0.5em 0.5em -0.4em #614a4a; }
  .carouselContainer .condImage {
    width: 120px;
    height: 130px;
    margin: 2rem; }
  .carouselContainer .condTitle {
    font-size: 2rem; }

.optionButton:hover,
.optionButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.2em); }

.optionButton {
  --color: #292b2b;
  --hover: #29292b; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
  margin: 2rem;
  padding: 2rem; }
  .buttons .optionButton {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #ccd196;
    transition: 0.25s;
    font-weight: bold;
    font-family: fantasy; }
    .buttons .optionButton:hover, .buttons .optionButton:focus {
      border-color: var(--hover);
      color: #205813; }
