body {
  width: 100dvw;
  height: 100dvh; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(82.3deg, rgba(231, 239, 197, 0.19) 85.96%, rgba(163, 196, 188, 0.1) 96.3%); }
  .container .logo {
    border-radius: 50%;
    overflow: hidden;
    height: 450px;
    margin-bottom: 4rem; }
  .container .cards {
    display: flex; }
    .container .cards .title {
      text-align: center; }
      .container .cards .title h1 {
        margin-top: -5rem;
        font-size: 4rem;
        font-family: fantasy; }
      .container .cards .title h2 {
        font-size: 2rem;
        font-family: fantasy; }
    .container .cards .cure,
    .container .cards .fit {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      width: 17rem;
      height: 20rem;
      font-size: 4rem;
      font-family: fantasy;
      font-weight: bold;
      margin-top: -20rem;
      margin-left: 7rem;
      margin-right: 7rem;
      padding: 2rem;
      border-radius: 2rem;
      transition: background-color 1s ease;
      cursor: pointer;
      color: white; }

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.cure,
.fit {
  animation: slideUpAndFade 2s ease-out forwards;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #938383cb);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
