* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        82.3deg,
        rgba(231, 239, 197, 0.19) 85.96%,
        rgba(163, 196, 188, 0.1) 96.3%
    );
    .logo1 {
        border-radius: 50%;
        overflow: hidden;
        height: 450px;
        margin-bottom: 4rem;
    }

    .cards {
        display: flex;
        position: relative;

        .overview {
            left: -30%;
            bottom: 10%;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 26rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .overviewBox {
                gap: 1rem;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                display: flex;
                flex-direction: row;

                div {
                    background-color: rgba(129, 128, 128, 0.15);
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 6rem;
                    width: 6rem;
                    text-align: center;
                }
            }
        }
        .overviewSec {
            left: 100%;
            bottom: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 20rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            background-image: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0),
                rgba(129, 128, 128, 0.15)
            );
            transform: scale(1);
            transition: all 0.5s ease-in-out;
            .overviewBoxx {
                gap: 1rem;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                div {
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 6rem;
                    width: 6rem;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                div:nth-child(1) {
                    background-image: url(../src/images/onee.jpg);
                }
                div:nth-child(2) {
                    background-image: url(../src/images/twoo.jpg);
                }
                div:nth-child(3) {
                    background-image: url(../src/images/threee.jpg);
                }
                div:nth-child(4) {
                    background-image: url(../src/images/fourr.jpg);
                }
            }
            &:hover {
                background-color: rgba(185, 185, 185, 0.15);
                transform: scale(1.1);

                transition: all 0.5s ease-in-out;
            }
        }
        .title {
            text-align: center;
            color: var(--darker-color);

            h1 {
                font-size: 3rem;
                font-family: fantasy;
            }

            h2 {
                font-size: 2rem;
            }
        }

        .cure,
        .fit {
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            width: 11rem;
            height: 15rem;
            font-size: 2.8rem;
            font-family: fantasy;
            font-weight: bold;
            margin-top: -20rem;
            margin-left: 7rem;
            margin-right: 7rem;
            padding: 2rem;

            transition: background-color 1s ease;
            cursor: pointer;
            color: rgb(65, 60, 88);
        }
    }
}

@keyframes slideUpAndFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cure,
.fit {
    animation: slideUpAndFade 2s ease-out forwards;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(129, 128, 128, 0.2)
    );
    box-shadow: rgba(0, 0, 0.4, 0.45) 0px 25px 20px -20px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

//-------------------------------------------------------
