/*Templates styles*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .home-box {
        margin-top: 15vh;
        width: 95vw;
        height: 85vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .hpLogo {
            width: 45vw;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);

            .hpChoose {
                grid-area: 6/2/11/10;
                display: flex;
                justify-content: space-around;

                .hpCure {
                    text-decoration: none;
                    color: #000;
                    @extend .flex-center;
                    flex-direction: column;
                    height: 100%;
                    width: 20rem;
                    font-size: 2rem;
                    font-weight: 600;
                    transform: scale(1);
                    transition: all 350ms ease-in-out;
                    background-color: rgba(164, 191, 153, 0.5);
                    .cureBg {
                        @extend .flex-center;
                        width: 100%;
                        height: 100%;
                        img {
                            height: 10rem;
                            width: fit-content;
                        }
                    }
                    .cureTxt {
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 1rem;
                    }
                    &:hover {
                        background: linear-gradient(
                            82.3deg,
                            rgba(231, 239, 197, 0.4) 10.8%,
                            rgba(163, 196, 188, 0.3) 94.3%
                        );

                        transform: scale(1.1);
                        transition: all 200ms ease-in-out;
                    }
                }
                .hpBeFit {
                    color: #000;
                    text-decoration: none;
                    @extend .flex-center;
                    flex-direction: column;
                    font-size: 2rem;
                    font-weight: 600;
                    height: 100%;
                    width: 20rem;
                    transform: scale(1);
                    transition: all 350ms ease-in-out;
                    background: linear-gradient(
                        82.3deg,
                        rgba(231, 239, 197, 0.4) 10.8%,
                        rgba(163, 196, 188, 0.3) 94.3%
                    );
                    .befitBg {
                        @extend .flex-center;
                        width: 100%;
                        height: 100%;
                        img {
                            height: 10rem;
                            width: fit-content;
                        }
                    }
                    .befitTxt {
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 1rem;
                    }
                    &:hover {
                        background-color: rgba(164, 191, 153, 0.5);
                        transform: scale(1.1);
                        transition: all 200ms ease-in-out;
                    }
                }
            }

            .hpLogo-box {
                grid-area: 1/1/5/11;
                .hpLogoFade {
                    width: 100%;
                    height: 100%;
                    .hpLogoImg {
                        width: 100%;
                        height: 100%;
                        background-image: url(./green.png);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .hpOverview {
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
            height: 100%;
            width: 25vw;
            .home-start {
                margin-top: 1rem;
                grid-area: 1/1/5/10;
                width: 31vw;
                height: 250px;
                background: rgba(164, 191, 153, 0.05);

                border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
                box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
                transition: all 0.4s ease;
                .animation-start {
                    background-position: right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    @extend .flex-center;
                    flex-direction: row;
                    text-align: center;
                    font-size: 1.3rem;
                    width: 100%;
                    height: 100%;
                    color: #000;

                    p {
                        border-left: #000 solid 8px;
                    }
                }
            }
            .home-start:hover {
                box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
            }
            .hpOverview-sub {
                @extend .flex-center;
                grid-area: 5/1/8/11;
                flex-direction: column;
                justify-content: space-around;
                gap: 1rem;
                transform: scale(1);
                transition: all 200ms ease;
                padding: 1rem;
                text-align: center;
                &:hover {
                    background-color: rgba(185, 185, 185, 0.15);
                    transform: scale(1.1);
                    transition: all 200ms ease-in-out;
                }
            }
            .hpOverviewBox {
                gap: 1rem;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                div {
                    background-color: rgba(129, 128, 128, 0.15);
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 6rem;
                    width: 6rem;
                    text-align: center;
                }
            }
        }
        .hpOverviewSec {
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
            width: 25vw;
            height: 100%;

            .hpOverview-sub {
                text-align: center;
                width: 100%;
                height: 100%;
                @extend .flex-center;
                flex-direction: column;
                grid-area: 1/1/8/11;
                gap: 1rem;
                padding: 1rem;
                color: #000;
                text-decoration: none;
                background: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    rgba(129, 128, 128, 0.15)
                );
                transform: scale(1);
                transition: all 350ms ease-in-out;
                .hpOverviewBoxx {
                    gap: 1rem;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .over-zoom {
                        .linked {
                            @extend .flex-center;
                            flex-direction: column;
                            transform: scale(1);
                            transition: all 200ms ease;
                            width: 100%;
                            height: 100%;
                            text-decoration: none !important;
                            color: #000;
                            img {
                                width: 50%;
                            }
                            p {
                                padding: 0.5rem 0 0.5rem 0;
                                width: 50%;
                                text-align: center;
                                font-weight: bold;
                                background-color: rgba(164, 191, 153, 0.7);
                            }
                            &:hover {
                                transform: scale(1.1);
                                transition: all 200ms ease-in-out;
                            }
                        }
                    }
                }
                &:hover {
                    background-color: rgba(185, 185, 185, 0.15);
                    transform: scale(1.1);
                    transition: all 200ms ease-in-out;
                }
            }
        }
    }
}
/* Laptops and desktops with wide screens */
@media (min-width: 1281px) and (min-height: 800px) {
    .home {
        .home-box {
            .hpLogo {
                .hpChoose {
                    gap: 0rem;
                    .hpCure {
                        .cureBg {
                            img {
                                height: 8rem;
                            }
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 8rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    width: 31vw;
                    height: 250px;
                    .animation-start {
                        p {
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }
                }
                .hpOverview-sub {
                    grid-area: 6/1/9/11;
                }
            }
            .hpOverviewSec {
                .hpOverview-sub {
                    .hpOverviewBoxx {
                        .over-zoom {
                            div {
                                img {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Tablets in landscape mode */
@media (min-width: 1025px) and (max-width: 1280px) and (max-height: 800px) {
    .home {
        .home-box {
            .hpLogo {
                .hpChoose {
                    gap: 0.5rem;
                    .hpCure {
                        .cureBg {
                            img {
                                height: 8rem;
                            }
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 8rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    width: 28vw;
                    height: 280px;
                    .animation-start {
                        p {
                            font-size: 1rem;
                            font-weight: 400;
                            padding: 0.25rem 40% 0.25rem 0.25rem !important;
                        }
                    }
                }
                .hpOverview-sub {
                    grid-area: 6/1/9/11;
                }
            }
        }
    }
}
/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1366px) {
    .home {
        margin: 0;
        .home-box {
            margin-top: 3vh;
            .hpLogo {
                align-self: flex-end;
                height: 70vh;
                .hpLogo-box {
                    grid-area: 1/2/6/10;
                }
                .hpChoose {
                    grid-area: 7/1/11/11;
                    gap: 0.5rem;
                    .hpCure {
                        .cureBg {
                            img {
                                height: 8rem;
                            }
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 8rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    width: 55vw;
                    height: 260px;
                    .animation-start {
                        p {
                            font-size: 1.4rem;
                            padding: 0.25rem 45% 0.25rem 0.25rem !important;
                        }
                    }
                }
                .hpOverview-sub {
                    grid-area: 6/1/9/11;
                    width: 20vw;
                    height: 80%;
                }
            }
            .hpOverviewSec {
                width: 25vw;
                height: 100%;

                .hpOverview-sub {
                    overflow: hidden;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 0.1rem;
                    background: none;

                    .hpOverviewBoxx {
                        gap: 0rem;
                        height: 25%;
                        .over-zoom {
                            .linked {
                                img {
                                    width: 100%;
                                }
                                p {
                                    padding: 1rem 0 1rem 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Larger smartphones (landscape) */
@media (max-width: 960px) and (max-height: 480px) {
    .home {
        margin: 0;
        .home-box {
            .hpLogo {
                height: 100vh;
                .hpLogo-box {
                    grid-area: 1/2/5/10;
                }
                .hpChoose {
                    grid-area: 6/2/11/10;

                    .hpCure {
                        .cureBg {
                            img {
                                height: 6rem;
                            }
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 6rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    width: 25vw;
                    height: 250px;
                    .animation-start {
                        p {
                            font-size: 1rem;
                        }
                    }
                }
                .hpOverview-sub {
                    display: none;
                }
            }
            .hpOverviewSec {
                .hpOverview-sub {
                    .hpOverviewBoxx {
                        height: 55%;
                    }
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}
/* Larger smartphones (portrait) */
@media (max-width: 480px) and (max-height: 960px) {
    .home {
        margin: 0;
        .home-box {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-top: 0;
            .hpLogo {
                width: 100vw;
                align-self: center;
                height: 60vh;
                .hpLogo-box {
                    grid-area: 1/2/4/10;
                }
                .healthyIcon {
                    grid-area: 4/1/6/11;
                    background-image: url(./health.png);
                    background-size: 70%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .hpChoose {
                    grid-area: 6/1/11/11;
                    gap: 0rem;
                    height: 100%;
                    .hpCure {
                        height: 100%;
                        border-radius: 1rem;
                        .cureBg {
                            height: 100%;
                            img {
                                margin-top: 2rem;
                                height: 7rem;
                            }
                        }
                    }
                    .hpBeFit {
                        border-radius: 1rem;
                        .befitBg {
                            img {
                                margin-top: 2rem;
                                height: 7rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                width: 100vw;
                height: 30vh;
                .home-start {
                    width: 90vw;
                    height: 25vh;
                    grid-area: 1/1/11/11;
                    .animation-start {
                        p {
                            font-size: 1.4rem;
                            padding: 0.25rem 45% 0.25rem 0.25rem !important;
                        }
                    }
                }
                .hpOverview-sub {
                    display: none;
                }
            }
            .hpOverviewSec {
                display: none;
            }
        }
    }
}
/* Medium-sized smartphones (landscape) */
@media (max-width: 896px) and (max-height: 414px) {
    .home {
        .home-box {
            .hpLogo {
                .hpChoose {
                    .hpCure {
                        .cureBg {
                            img {
                                height: 5rem;
                            }
                        }
                        div {
                            font-size: 1.4rem;
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 5rem;
                            }
                        }
                        div {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    height: 100%;
                    grid-area: 1/1/7/11;
                }
            }
            .hpOverviewSec {
                .hpOverview-sub {
                    .hpOverviewBoxx {
                        height: 60%;
                    }
                }
            }
        }
    }
}
/* Medium-sized smartphones (portrait) */
@media (max-width: 414px) and (max-height: 896px) {
    .home {
        .home-box {
            gap: 1rem;
            .hpLogo {
                .hpChoose {
                    height: fit-content;
                    .hpCure {
                        .cureBg {
                            img {
                                height: 6rem;
                            }
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 6rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    .animation-start {
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
/* Small smartphones (landscape) */
@media (max-width: 667px) and (max-height: 375px) {
    .home {
        .home-box {
            margin-top: 2vh;
            .hpLogo {
                .hpChoose {
                    .hpCure {
                        .cureBg {
                            img {
                                height: 4rem;
                            }
                        }
                        div {
                            font-size: 1.2rem;
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 4rem;
                            }
                        }
                        div {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .hpOverview {
                .home-start {
                    height: 100%;
                    grid-area: 2/1/7/11;
                    .animation-start {
                        background-size: contain;

                        p {
                            font-size: 0.6rem;
                            padding: 0.25rem 40% 0.25rem 0.25rem !important;
                        }
                    }
                }
            }
            .hpOverviewSec {
                .hpOverview-sub {
                    .hpOverviewBoxx {
                        gap: 0rem;
                        height: 60%;
                        .over-zoom {
                            .linked {
                                img {
                                    width: 90%;
                                }
                                p {
                                    padding: 1rem 0 1rem 0;
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Small smartphones (portrait) */
@media (max-width: 375px) and (max-height: 667px) {
    .home {
        .home-box {
            gap: 1.5rem;
            margin-top: 0;
            .hpLogo {
                height: 60vh;
                .hpLogo-box {
                    grid-area: 1/2/4/10;
                }
                .healthyIcon {
                    grid-area: 4/1/6/11;
                    background-image: url(./health.png);
                    background-size: 60%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .hpChoose {
                    grid-area: 6/1/11/11;
                    .hpCure {
                        .cureBg {
                            height: 100%;
                            img {
                                height: 4rem;
                            }
                        }
                    }
                    .hpBeFit {
                        .befitBg {
                            img {
                                height: 4rem;
                            }
                        }
                    }
                }
            }
            .hpOverview {
                width: 100vw;
                height: 30vh;
                .home-start {
                    width: 90vw;
                    height: 26vh;
                    grid-area: 1/1/11/11;
                    .animation-start {
                        p {
                            font-size: 1rem;
                            padding: 0.25rem 45% 0.25rem 0.25rem !important;
                        }
                    }
                }
                .hpOverview-sub {
                    display: none;
                }
            }
            .hpOverviewSec {
                display: none;
            }
        }
    }
}
